@use './mixins/_mixin.scss' as *;
@use './mixins/function.scss' as *;
@use './common/config.scss' as *;

@include b(button-group) {
	display: inline-block;
	vertical-align: middle;

	& > .#{$namespace}-button {
		& + .#{$namespace}-button {
			margin-left: 0;
		}
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		&:not(:last-child) {
			margin-right: -1px;
		}
		&:not(:first-child):not(:last-child) {
			border-radius: 0;
		}
	}

	@each $type in (primary, success, warning, danger, info) {
		.#{$namespace}-button--#{$type} {
			&:first-child {
				border-right-color: getCssVar('button', 'divide-border-color');
			}
			&:last-child {
				border-left-color: getCssVar('button', 'divide-border-color');
			}
			&:not(:first-child):not(:last-child) {
				border-left-color: getCssVar('button', 'divide-border-color');
				border-right-color: getCssVar('button', 'divide-border-color');
			}
		}
	}
}
