@use 'common/var' as *;
@use 'mixins/_mixin' as *;
@use 'mixins/_var' as *;
@use 'mixins/function' as *;

@include b(calendar) {
	@include set-component-css-var('calendar', $calendar);
}

@include b(calendar) {
	padding: 10px;

	@include b(calendar__header) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		// border-bottom: getCssVar('border');
	}

	@include b(calendar__body) {
		@include b(calendar-table) {
			table-layout: fixed;
			width: 100%;
			@include b(calendar-thead) {
				padding: 10px 0;
				tr {
					@include b(calendar-thead-item) {
						padding: 12px 0;
						color: getCssVar('text-color', 'regular');
						font-weight: 400;
					}
				}
			}
			@include b(calendar-tbody) {
				tr {
					td:first-child {
						border-left: getCssVar('border');
					}
					td {
						border-bottom: getCssVar('border');
						border-right: getCssVar('border');
						cursor: pointer;

						&:hover {
							background-color: getCssVar('color', 'primary-light-9');
						}

						@include b(calendar-date) {
							height: getCssVar('calendar', 'cell-height');
							box-sizing: border-box;
							padding: 8px;
							overflow: auto;
						}

						@include when(prev) {
							color: getCssVar('text-color', 'secondary');
						}
						@include when(next) {
							color: getCssVar('text-color', 'secondary');
						}
						@include when(select) {
							color: getCssVar('color', 'primary');
							background-color: getCssVar('color', 'primary-light-9');
						}
					}
				}
				tr:first-child td {
					border-top: getCssVar('border');
				}
			}
		}
	}
}
