@use 'mixins/_mixin' as *;
@use 'mixins/_var' as *;

@include b(space) {
	display: flex;

	@include when(horizontal) {
		flex-direction: row;
	}

	@include when(vertical) {
		flex-direction: column;
	}

	@each $algin in (start, center, end, baseline) {
		@include when($algin) {
			align-items: $algin;
		}
	}
}
