.h-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.is-spin {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 360deg;
	}
}
