:root {
	--h-color-white: #ffffff;
	--h-color-black: #000000;
	--h-color-primary: #409eff;
	--h-color-primary-light-1: #53a8ff;
	--h-color-primary-light-2: #66b1ff;
	--h-color-primary-light-3: #79bbff;
	--h-color-primary-light-4: #8cc5ff;
	--h-color-primary-light-5: #a0cfff;
	--h-color-primary-light-6: #b3d8ff;
	--h-color-primary-light-7: #c6e2ff;
	--h-color-primary-light-8: #d9ecff;
	--h-color-primary-light-9: #ecf5ff;
	--h-color-primary-dark-2: #337ecc;
	--h-color-success: #67c23a;
	--h-color-success-light-1: #76c84e;
	--h-color-success-light-2: #85ce61;
	--h-color-success-light-3: #95d475;
	--h-color-success-light-4: #a4da89;
	--h-color-success-light-5: #b3e19d;
	--h-color-success-light-6: #c2e7b0;
	--h-color-success-light-7: #d1edc4;
	--h-color-success-light-8: #e1f3d8;
	--h-color-success-light-9: #f0f9eb;
	--h-color-success-dark-2: #529b2e;
	--h-color-warning: #e6a23c;
	--h-color-warning-light-1: #e9ab50;
	--h-color-warning-light-2: #ebb563;
	--h-color-warning-light-3: #eebe77;
	--h-color-warning-light-4: #f0c78a;
	--h-color-warning-light-5: #f3d19e;
	--h-color-warning-light-6: #f5dab1;
	--h-color-warning-light-7: #f8e3c5;
	--h-color-warning-light-8: #faecd8;
	--h-color-warning-light-9: #fdf6ec;
	--h-color-warning-dark-2: #b88230;
	--h-color-danger: #f56c6c;
	--h-color-danger-light-1: #f67b7b;
	--h-color-danger-light-2: #f78989;
	--h-color-danger-light-3: #f89898;
	--h-color-danger-light-4: #f9a7a7;
	--h-color-danger-light-5: #fab6b6;
	--h-color-danger-light-6: #fbc4c4;
	--h-color-danger-light-7: #fcd3d3;
	--h-color-danger-light-8: #fde2e2;
	--h-color-danger-light-9: #fef0f0;
	--h-color-danger-dark-2: #c45656;
	--h-color-error: #ff4d4f;
	--h-color-error-light-1: #ff5f61;
	--h-color-error-light-2: #ff7172;
	--h-color-error-light-3: #ff8284;
	--h-color-error-light-4: #ff9495;
	--h-color-error-light-5: #ffa6a7;
	--h-color-error-light-6: #ffb8b9;
	--h-color-error-light-7: #ffcaca;
	--h-color-error-light-8: #ffdbdc;
	--h-color-error-light-9: #ffeded;
	--h-color-error-dark-2: #cc3e3f;
	--h-color-info: #909399;
	--h-color-info-light-1: #9b9ea3;
	--h-color-info-light-2: #a6a9ad;
	--h-color-info-light-3: #b1b3b8;
	--h-color-info-light-4: #bcbec2;
	--h-color-info-light-5: #c8c9cc;
	--h-color-info-light-6: #d3d4d6;
	--h-color-info-light-7: #dedfe0;
	--h-color-info-light-8: #e9e9eb;
	--h-color-info-light-9: #f4f4f5;
	--h-color-info-dark-2: #73767a;
}
